
#GameInfo
{
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
}
#GameLogo
{
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #000;
  background-image: url("images/Asundr1.png");
}
#GameLogo2
{
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #000;
  background-image: url("images/SpaceCrusader1.jpg");
}
#Role
{
  display: inline-block;
  position: absolute;
  float: right;
}

#GameTitleBlock
{
  display: block;
  position: relative;
  margin-bottom: 1em;
  background-color: #000;
}

#GameTitleBlock p
{
  color: #E8E8E8;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  line-height: 40px;
  letter-spacing: 1px;
	font-family: Impact, Charcoal, sans-serif;
}
#RoleDescription
{
  display: block;
  margin-top: -0.8em;
  position: absolute;
  background-color: #E8E8E8;
}

#RoleDescription p
{
  margin-left: 1em;
  margin-top: 1em;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: Impact, Charcoal, sans-serif;
}

#Screenshots
{
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  background-color: #000;
  background-image: url("images/Asundr1.png");
	transition: background-image 1s ease-in-out;
}

#Screenshots3
{
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  background-color: #000;
  background-image: url("images/SpaceCrusader1.jpg");
	transition: background-image 1s ease-in-out;
}

#Trailer
{
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.GameLeft
{
  display: inline-block;
  border-style: solid;
  border-width: thin;
  z-index: 10;
  border-color: #E8E8E8;
  float: right;
  position: relative;
  background: rgba(255, 255, 255, 0.35);
  transition: background-color 0.5s ease-in-out;
}
.GameLeft:hover
{
	background: rgba(255, 255, 255, 0.8);
}
.GameRight
{
  display: inline-block;
  border-style: solid;
  border-width: thin;
	z-index: 10;
  border-color: #E8E8E8;
	width:25px;
	height: 80px;
	background: rgba(255, 255, 255, 0.35);
	margin-top: 210px;
  transition: background-color 0.5s ease-in-out;
}

.GameRight:hover
{
	background: rgba(255, 255, 255, 0.8);
}

.GameDownload
{
  display: block;
  position: relative;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

.GameLink
{
  display: inline-block;
  margin-right: 1em;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-color: #E8E8E8;
}
.GameLink:hover
{
  background-color: #505050;
}
#Mac
{
	background-image: url("images/Apple-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#PC
{
	background-image: url("images/microsoft.png");
	background-size: cover;
	background-repeat: no-repeat;
}

@media (min-width: 100px) and (max-width: 800px)
{
  #Trailer
  {
    width: 500px;
    height: 275px;
  }
  #movie
  {
    width: 500px;
    height: 275px;
  }
  #Role
  {
    display: inline-block;
    width: 225px;
    height: 300px;
    position: absolute;
    float: right;
  }
  .GameLeft
  {
    width:25px;
    height: 80px;
    margin-top: 100px;
  }
  .GameRight
  {
    width:25px;
    height: 80px;
    margin-top: 100px;
  }
  #Screenshots
  {
    width: 500px;
    height: 275px;
  	background-size: 100% 275px;
  }
  #Screenshots3
  {
    width: 500px;
    height: 275px;
  	background-size: 100% 275px;
  }
  #GameTitleBlock
  {
    width: 320px;
    height: 40px;
  }
  #RoleDescription
  {
    width: 320px;
    height: 132px;
  }
  #RoleDescription p
  {
    line-height: 10px;
    font-size: 10px;
  }
  #GameLogo
  {
    width: 175px;
    height: 175px;
    background-size: 100% 175px;
  }
  #GameLogo2
  {
    width: 175px;
    height: 175px;
    background-size: 100% 175px;
  }
  #GameInfo
  {
    width: 500px;
    height: 175px;
  }
  #GameLArrow{
    padding-top: 35px;
  }
  #GameRArrow{
    padding-top: 35px;
  }
}

@media (min-width: 800px) and (max-width: 1200px)
{
  #Trailer
  {
    width: 750px;
    height: 350px;
  }
  #movie
  {
    width: 750px;
    height: 350px;
  }
  #Role
  {
    display: inline-block;
    width: 365px;
    height: 300px;
    position: absolute;
    float: right;
  }
  #RoleDescription
  {
    width: 495px;
    height: 208px;
  }

  #GameTitleBlock
  {
    width: 495px;
    height: 40px;
  }

  #RoleDescription p
  {
    line-height: 20px;
    font-size: 14px;
  }
  .GameLeft
  {
    width:25px;
    height: 80px;
    margin-top: 140px;
  }
  .GameRight
  {
  	width:25px;
  	height: 80px;
  	margin-top: 140px;
  }
  #Screenshots
  {
    width: 750px;
    height: 350px;
  	background-size: 100% 350px;
  }
  #Screenshots3
  {
    width: 750px;
    height: 350px;
  	background-size: 100% 350px;
  }

  #GameLogo
  {
    width: 250px;
    height: 250px;
    background-size: 100% 250px;
  }
  #GameLogo2
  {
    width: 250px;
    height: 250px;
    background-size: 100% 250px;
  }
  #GameInfo
  {
    width: 750px;
    height: 250px;
  }

  #GameLArrow{
    padding-top: 35px;
  }
  #GameRArrow{
    padding-top: 35px;
  }
}

@media (min-width: 1200px)
{
  #Trailer
  {
    width: 1000px;
    height: 500px;
  }
  #movie
  {
    width: 1000px;
    height: 500px;
  }
  #Role
  {
    display: inline-block;
    width: 595px;
    height: 300px;
    position: absolute;
    float: right;
  }
  #RoleDescription
  {
    width: 595px;
    height: 260px;
  }

  #RoleDescription p
  {
    line-height: 30px;
    font-size: 16px;
  }
  .GameLeft
  {
    width:25px;
    height: 80px;
    margin-top: 210px;
  }
  .GameRight
  {
    width:25px;
    height: 80px;
    margin-top: 210px;
  }
  #Screenshots
  {
    width: 1000px;
    height: 500px;
  	background-size: 100% 500px;
  }
  #Screenshots3
  {
    width: 1000px;
    height: 500px;
  	background-size: 100% 500px;
  }
  #GameLogo
  {
    width: 400px;
    height: 302px;
  	background-size: 100% 302px;
  }
  #GameLogo2
  {
    width: 400px;
    height: 302px;
    background-size: 100% 302px;
  }
  #GameInfo
  {
    width: 1000px;
    height: 305px;
  }
  #GameTitleBlock
  {
    width: 595px;
    height: 40px;
  }

}
