* {
    margin: 0;
}

html, body{
    height: 100%;
}

body{
	height: 100%;
	background-color: #E8E8E8;
	background-image: url("images/bg2.png");
}

#Container
{
	width: 100%;
	margin: 0 auto;
	height: 125px;
	background-color: #FFF;
  border-style: solid;
  border: #FFF;
  border-bottom: 7px solid 	#505050 ;
}
#header
{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 125px;
	background-color: #FFF;
}

@media (min-width: 100px) and (max-width: 800px)
{
  #header
  {
    width: 400px;
  }
  #HeaderLogoSpot
  {
    width:125px;
    height: 125px;
    z-index: 5;
  }
  #HeadLogo
  {
      width:125px;
      height: 125px;
  }
  #nav ul a
  {
    font-weight:200;
    font-size:8px;
  }
  #nav
  {
    z-index: 1;
  }
  .PageTitle
  {
  	width: 500px;
  	height: 50px;
  	font-size: 20px;
  }
  #ID
  {
    width: 100px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
  }

  #IDD
  {
    width: 300px;
    height: 50px;
  }

  #CODEID
  {
    width: 215px;
    line-height: 50px;
    font-size: 20px;
  }

  #CODEIDD
  {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding-left: 0.5em;
  }

  #RESUMEID
  {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  #RESUMEIDD
  {
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-left: 0.5em;
    line-height: 10px;
  }

  #AboutMe
  {
    width: 500px;
  }
  #Me
  {
    width: 100;
    height: 100px;
  }
  #About
  {
    width: 375px;
    height: 90px;
  }
  #AboutTitle
  {
    width: 100%;
    height: 15%;
  }
  #AboutTitle p
  {
    font-size: 15px;
  }
  #AboutInfo
  {
    width: 100%;
    height: 80%;
  }

  #AboutInfo p
  {
    width: 93%;
    margin-top: 1em;
    font-size: 10px;
  }
  #games
  {
    width: 500px;
    height: 200px;
    background-size: 100% 350px;
  }
  .Right
  {
  	width:15px;
  	height: 40px;
    margin: 45px 0px 0px 0px;
  }
  .Left
  {
    width:15px;
    height: 40px;
    margin: 45px 0px 0px 0px;
  }
  .fa.fa-chevron-left
  {
    padding-top: 12px;
  }

  .fa.fa-chevron-right
  {
    padding-top: 12px;
  }
  #GameNameBlock
  {
    height: 45px;
  }
  #games
  {
    margin: 0 auto;
  	margin-bottom: 2em;
  }
  #GAMEID
  {
    width: 65px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;

  }

  #GAMEIDD
  {
    width: 300px;
    height: 40px;
    font-size: 15px;
    line-height: 10px;
  }
  .PageSection
  {
    width: 500px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .Picture
  {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  #Pic1
  {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  	background-size: 100% 400px;
  }
  .Script
  {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  #pdf
  {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 1200px)
{
  #header
  {
    width: 600px;
  }
  #HeaderLogoSpot
  {
    width:175px;
    height: 125px;
  }
  #HeadLogo
  {
    width:175px;
    height: 125px;
    z-index: 1;
  }
  #nav ul a
  {
  	font-weight:300;
  	font-size:12px;
  }
  #nav
  {
    z-index: 5;
  }
  .PageTitle
  {
  	width: 750px;
  	height: 50px;
  	font-size: 20px;
  }
  #ID
  {
    width: 125px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
  }

  #IDD
  {
    width: 300px;
    height: 50px;
  }
  #CODEID
  {
    width: 215px;
    line-height: 50px;
    font-size: 16px;
  }

  #CODEIDD
  {
    width: 400px;
    height: 50px;
    font-size: 10px;
    line-height: 50px;
    padding-left: 0.5em;
  }

  #RESUMEID
  {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }

  #RESUMEIDD
  {
    width: 500px;
    height: 40px;
    font-size: 18px;
    margin-left: 0.5em;
    line-height: 10px;
  }
  #AboutMe
  {
    width: 750px;
  }
  #Me
  {
    width: 150;
    height: 150px;
  }
  #About
  {
    width: 575px;
    height: 143px;
  }
  #AboutTitle
  {
    width: 100%;
    height: 15%;
  }
  #AboutTitle p
  {
    font-size: 20px;
  }
  #AboutInfo
  {
    width: 100%;
    height: 80%;
  }

  #AboutInfo p
  {
    width: 93%;
    margin-top: 1em;
    font-size: 14px;
  }
  #games
  {
    width: 750px;
    height: 350px;
    background-size: 100% 350px;
  }
  .Right
  {
  	width:20px;
  	height: 60px;
  	margin: 110px 0px 0px 0px;
  }
  .Left
  {
  	width:20px;
  	height: 60px;
  	margin: 110px 0px 0px 0px;
  }
  .fa.fa-chevron-left
  {
  	padding-top: 25px;
  }

  .fa.fa-chevron-right
  {
  	padding-top: 25px;
  }
  #GameNameBlock
  {
    height: 55px;
  }
  #games
  {
    margin: 0 auto;
  	margin-bottom: 2em;
  }
  #GAMEID
  {
    width: 75px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;

  }

  #GAMEIDD
  {
    width: 500px;
    height: 40px;
    font-size: 20px;
    line-height: 10px;
  }
  #CODEID
  {
    width: 215px;
    line-height: 50px;
    font-size: 20px;
  }

  #CODEIDD
  {
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding-left: 0.5em;
  }
  .PageSection
  {
    width: 750px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .Picture
  {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  #Pic1
  {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  	background-size: 100% 500px;
  }

  .Script
  {
    margin: 0 auto;
    width: 650px;
    height: 550px;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  #pdf
  {
    width: 650px;
    height: 550px;
  }
}

@media (min-width: 1200px)
{
  #header
  {
    width: 1000px;
  }
  #HeaderLogoSpot
  {
    width:345px;
    height: 125px;
    z-index: 5;
  }
  #HeadLogo
  {
    width:345px;
    height: 125px;
  }
  #nav
  {
    z-index: 1;
  }
  #nav ul a
  {
  	font-weight:700;
  	font-size:20px;
  }
  .PageTitle
  {
  	width: 1000px;
  	height: 50px;
  	font-size: 20px;
  }
  #ID
  {
    width: 150px;
    height: 50px;
    font-size: 28px;
    line-height: 50px;
  }

  #IDD
  {
    width: 500px;
    height: 50px;
  }

  #RESUMEID
  {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
  }

  #RESUMEIDD
  {
    width: 500px;
    height: 40px;
    font-size: 20px;
    margin-left: 0.5em;
    line-height: 10px;
  }

  #AboutMe
  {
  	width: 1000px;
  }
  #Me
  {
  	width: 200;
  	height: 200px;
  }

  #About
  {
  	width: 775px;
  	height: 200px;
  }
  #AboutTitle
  {
  	width: 100%;
  	height: 15%;
  }
  #AboutTitle p
  {
  	font-size: 20px;
  }
  #AboutInfo
  {
  	width: 100%;
  	height: 80%;
  }

  #AboutInfo p
  {
  	width: 93%;
  	margin-top: 1em;
    font-size: 16px;
  }

  #games
  {
    width: 1000px;
  	height: 500px;
  	background-size: 100% 500px;
  }
  .fa.fa-circle
  {
  	opacity: 0.35;
    font-size: 120%;
  	padding-right: 3px;
  	transition: all 0.5s ease-in-out;
  }
  .Right
  {
  	width:25px;
  	height: 80px;
  	margin: 130px 0px 0px 0px;
  }
  .Left
  {
  	width:25px;
  	height: 80px;
  	margin: 130px 0px 0px 0px;
  }
  .fa.fa-chevron-left
  {
  	padding-top: 35px;
  }

  .fa.fa-chevron-right
  {
  	padding-top: 35px;
  }
  #GameNameBlock
  {
  	height: 75px;
  }
  #games
  {
    margin: 0 auto;
  	margin-bottom: 3em;
  }
  #GAMEID
  {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;

  }

  #GAMEIDD
  {
    width: 500px;
    height: 40px;
    font-size: 20px;
    line-height: 10px;
  }

  #CODEID
  {
    width: 215px;
    line-height: 50px;
    font-size: 20px;
  }

  #CODEIDD
  {
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding-left: 0.5em;
  }

  .PageSection
  {
  	width: 1000px;
  	height: 30px;
  	font-size: 20px;
    line-height: 30px;
  }
  .Picture
  {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  #Pic1
  {
    width: 650px;
    height: 650px;
    margin: 0 auto;
  	background-size: 100% 650px;
  }
  .Script
  {
    margin: 0 auto;
    width: 800px;
    height: 700px;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  #pdf
  {
    width: 800px;
    height: 700px;
  }
}
#HeaderLogoSpot
{
  z-index: 10;
  position: relative;
}

#HeaderLogo
{
    width:345px;
    height: 125px;
}

#Title
{
	text-align: center;
}
#nav
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#nav ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}

#nav ul a
{
	display:block;
	color:#333;
	text-decoration:none;
  z-index: 15;
	line-height:40px;
	/*padding:0 15px;*/
	font-family: Impact, Charcoal, sans-serif;
}

#nav ul li
{
	/* Puts the tabs in line next to each other than being underneath each other*/
	display: inline-block;
  text-align: center;
	width: 16%;
	height: 40px;
	float: right;
  border-style: none;
  border: #FFF;
  border-top: 2px solid	#505050 ;
  border-left: 2px solid	#505050 ;
  border-right: 2px solid #505050 ;
}
#nav ul li:hover
{
	background:#C0C0C0;
}

#nav ul ul
{
	display:none;
	position:absolute;
	background:#fff;
	padding:0;
	z-index: 10;
	width: 16%;
	background-color: #E8E8E8;
}

#nav ul ul li
{
	display: block;
	position: relative;
	z-index: 10;
	margin: 0 auto;
	float: none;
	width: 100%;
  border-top: 2px solid	#505050 ;
  border-left: 2px solid	#505050 ;
  border-right: 2px solid #505050 ;
  border-bottom: 2px solid #505050 ;
	background-color: #E8E8E8;
}

#nav ul li:hover > ul
{
	/*Makes the list display when the mouse is over the Menu Tab*/
	display:block;
}

.PageTitle
{
	display: block;
	position: relative;
	margin: 0 auto;
	background-color: #606060;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0.5px;
}

.PageSection
{
	display: block;
	position: relative;
	margin: 0 auto;
  margin-top: 0.5em;
	background-color: #F0F0F0;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0.5px;
  text-align: center;
}

#ID
{
  background-color: #00A79D;
  color: #F8F8F8;
  text-align: center;
  display:inline-block;
}

#IDD
{
  color: #F8F8F8;
  line-height: 50px;
  padding-left: 0.5em;
  display:inline-block;
}

#OTHERID
{
  width: 150px;
  line-height: 50px;
  background-color: #00A79D;
  color: #F8F8F8;
  display: inline-block;
  text-align: center;
}

#OTHERIDD
{
  width: 300px;
  height: 50px;
  color: #F8F8F8;
  line-height: 50px;
  text-align: left;
  display: inline-block;
}

#CODEID
{
  background-color: #00A79D;
  color: #F8F8F8;
  display: inline-block;
  text-align: center;
}

#CODEIDD
{
  color: #F8F8F8;
  text-align: left;
  display: inline-block;
}

#GAMEID
{
  color: #F8F8F8;
  background-color: #00A79D;
  text-align: center;
  display:inline-block;
}

#GAMEIDD
{
  color: #F8F8F8;
  position: relative;
  display:inline-block;
  text-decoration: underline;
}

#GAMEIDD:hover
{
  color: #00A79D;
}
#RESUMEID
{
  color: #F8F8F8;
  background-color: #00A79D;
  text-align: center;
  display:inline-block;
}

#RESUMEIDD
{
  color: #F8F8F8;
  position: relative;
  display:inline-block;
}
#AboutMe
{
	position: relative;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
#Me
{
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: #E8E8E8;
	background-image: url("images/me.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#About
{
	display: inline-block;
	margin-left: 1em;
	position: absolute;
}
#AboutTitle
{
	border-style: solid;
	border-width: medium;
	border-color: #E8E8E8;
	background-color: #F0F0F0;
	margin-bottom: 0.25em;
	position: relative;
}
#AboutTitle p
{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	margin: 0 auto;
}
#AboutInfo
{
	background-color: #F0F0F0;
	border-style: solid;
	border-width: medium;
	border-color: #E8E8E8;
	position: relative;
}

#AboutInfo p
{
	text-align: center;
	font-weight: bolder;
	margin: 0 auto;
}

#games
{
	position: relative;
  border-style: solid;
  border-width: thin;
  border-color: #E8E8E8;
	background-image: url("images/Asundr1.png");
	transition: background-image 1s ease-in-out;
}

#GameNameBlock
{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.10);
	transition: background-color 0.75s ease-in-out;
}
#GameTitle
{
	line-height: 45px;
	font-size: 18px;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	opacity: 0.4;
}
.Right
{
	display: inline-block;
  border-style: solid;
  border-width: thin;
	z-index: 10;
  border-color: #E8E8E8;
	background: rgba(255, 255, 255, 0.35);
  transition: background-color 0.5s ease-in-out;
}

.Right:hover
{
	background: rgba(255, 255, 255, 0.8);
}

.Left
{
	display: inline-block;
  border-style: solid;
  border-width: thin;
	z-index: 10;
  border-color: #E8E8E8;
	background: rgba(255, 255, 255, 0.35);
	float: right;
  transition: background-color 0.5s ease-in-out;
}

.Left:hover
{
	background: rgba(255, 255, 255, 0.8);
}

#GamePic
{
	position: relative;
	z-index: -10;
  height: 100%;
  width:100%;
}
#circles
{
	margin: 3% 0px 0px 0px;
	padding-left: 85%;
}

.content
{
	min-height: 100%;
	margin-bottom: -125px;
}

.content:after {
	content: "";
  display: block;
}

.footer, .content:after {
  /* .push must be the same height as footer */
    height: 125px;
}

.footer
{
	margin: 0 auto;
	position: absolute;
	width: 99%;
	border-style: solid;
  border-width: 0px 0px 10px 0px;
	border-color: #000;
	background-color: #282828;
	text-align: left;
}
.footer p
{
	line-height: 40px;
}
#Copyright
{
	color: #FFF;
	font-family: Impact, Charcoal, sans-serif;
	margin-left: 1em;
	display: inline-block;
}
#Social
{
	float:right;
	display: inline-block;
	margin-top: 1em;
	margin-right: 1em;
}
.fa.fa-circle
{
	opacity: 0.35;
	display: inline-block;
	color: #C0C0C0;
	transition: all 0.5s ease-in-out;
}

.fa.fa-circle:hover
{
	opacity: 0.8;
	right: 0px;
}

.fa.fa-chevron-left
{
	z-index: -15;
  display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	opacity: 0.675;
	transition: all 0.5s ease-in-out;
}

.fa.fa-chevron-right
{
	z-index: -15;
  display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	opacity: 0.675;
	transition: all 0.5s ease-in-out;
}

.fa.fa-arrow-left:hover
{
	opacity: 1;
}
.Script
{
  position: relative;
}

.Picture
{
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

#Pic1
{
  position: absolute;
  background-image: url("images/WebLogo.jpg");
}

#pdf
{
  position: absolute;
  margin: 0 auto;
  margin-top: 0.5em;
}
