.column
{
  width: 20%;
  margin: 0 auto;
  padding: 1em;
  background: #e3e3e3;
  display: inline-block;
}

@media (max-width: 400px)
{
  .column
  {
    display: inline-block;
    width: 100%;

  }
}

@media (min-width: 400px) and (max-width: 800px)
{
  .column
  {
    display: inline-block;
    width: 40%;

  }
}

@media (min-width: 800px ) and (max-width: 1200px)
{
  .column
  {
    display: inline-block;
    width: 20%;

  }
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina*/
}
